<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alumno</ion-card-subtitle>
      <ion-card-title>Nombre: {{codigo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/img/56d6af0d-7acc-4ec3-9c52-7cc10a37d583-1653636637866.jpg" alt="">
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button (click)="scan()" size="block">Escanear código</ion-button>
</ion-content>
