<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h4>Crear Cuenta</h4>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input required type="text" name="name" [(ngModel)]="usuario.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" name="lastname" [(ngModel)]="usuario.lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input required type="password" name="pass" [(ngModel)]="usuario.password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="mail" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="success"
     type="submit" [disabled]="form.invalid" class="ion-margin-top">
      Crear cuenta
    </ion-button>
  </form>
</ion-content>