<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-icon class="ion-padding" name="albums" size="medium" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-padding" style="font-weight: bolder;">REGISTROS</h3>
  <ion-list *ngFor="let item of fechas.fecha">
    <ion-item>
      <ion-label>
        <ion-icon name="chevron-forward-circle"></ion-icon> {{item}}
        <br>
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
  <h4 class="ion-padding">TOTAL ASISTENCIA</h4>
  <div class="progress-outer">
    <div class="progress-inner">{{this.asistencia}}</div>
  </div>
    <br>
  <h4 class="ion-padding">% DE ASISTENCIA</h4>
  <div class="progress-outer">
    <div class="progress-inner" id="myBar">{{this.progreso}}%</div>
</div>
</ion-content>
