<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="mail" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="dark"
     type="submit" [disabled]="form.invalid" class="ion-margin-top">
      Enviar correo
    </ion-button>
      </ion-col>
    </ion-row>
    <p class="ion-padding">
      Proporciona tu email de registro, para que podamos enviarte un enlace para restablecer tu contraseña.
    </p>      
  </form>
</ion-content>