<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon class="ion-padding" name="qr-code" size="medium" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <h6>ASIGNATURA:{{nombreCur}}</h6>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../assets/img/scan 1.png" alt="">
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-padding" (click)="test(); showLoading()" size="block" style="height: 13%;" color="dark">Escanear código</ion-button>
</ion-content>
