<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
    <ion-icon class="ion-padding" name="qr-code" size="medium" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="font-size: large;">Alumno: {{nombreAlumno}}</ion-card-subtitle>
      <ion-card-title style="font-size: large;">CLASE: {{nombreCur}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/img/56d6af0d-7acc-4ec3-9c52-7cc10a37d583-1653636637866.jpg" alt="">
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-padding" (click)="test(); showLoading()" size="block" style="height: 13%;" color="dark">Escanear código</ion-button>
</ion-content>
