<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Listas</ion-title>
    <ion-icon class="ion-padding" name="people" size="medium" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      <h2>Asignaturas</h2>
      <br>
    </ion-label>
  </ion-item>
  <ion-button size="block" detail routerLink="/clase">
    Programación orientada a objetos
  </ion-button>
  <br>
  <ion-button size="block" detail routerLink="/clase">
    Programación de algoritmos
  </ion-button>
  <br>
  <ion-button size="block" detail routerLink="/clase">
    Programación de base de datos
  </ion-button>
</ion-content>
