<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form; ion-padding">
  <div class="background"></div>
  <br>
  <ion-grid>
    <ion-row>
      <br>
      <ion-col align-self-center>
        <ion-button (click)="register()" expand="block" color="dark">Sing up</ion-button>
        <span class="divider line one-line"></span>
        <br>
        <span class="already">Are you registered?</span>
        <ion-button (click)="login()" expand="block" color="light">Log In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <img src="../../../assets/img/RegistAPP.png"/>
</ion-content>