
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../../assets/img/background0.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
}


img{
  width: 100%;
  /*CENTER THE IMAGE*/
  object-position: center;
  /*MAKE THE IMAGE RESPONSIVE*/
  object-fit: cover;
  /* ADD vertical padding to the image */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
}
