<ion-header>
  <ion-toolbar>
    <ion-icon name="menu" slot="start" (click)="openMenu()" size="large" class="ion-padding"></ion-icon>  
    <ion-title>
    </ion-title>
    <ion-text slot="end">
      {{nombre}}
    </ion-text>
      <ion-icon name="person-circle" slot="end" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido a RegistrAPP</ion-card-subtitle>
      <ion-card-title>Noticias</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusantium sapiente eum ab beatae nobis exercitationem sed voluptatem at soluta repudiandae pariatur consectetur aut quis, expedita perspiciatis natus sit laudantium!</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, id quisquam. Labore, consectetur a dolorem est nobis enim doloribus. Voluptatibus, corporis. Laborum necessitatibus odio recusandae consectetur officiis quaerat officia ut!
    </ion-card-content>
  </ion-card>
</ion-content>
