<ion-header>
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form; ion-padding">
  <ion-grid>
    <ion-row>
      <br>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registro</ion-button>
        <span class="divider line one-line"></span>
        <br>
        <span class="already">Estas registrado?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>