.icon {
    display: inline-block;
    font-size: 35px;
    color: #ffC977;
    vertical-align: middle;
}
   
.text{
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
    padding: 0 10px;
    font-size: 25px;
}