.text{
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
    padding: 0 10px;
    font-size: 25px;
}
//change the color of the inner card to white
h1{
    border-radius: 16px;
}
ion-card{
    background-color: rgba(255, 255, 255, 0) !important;
}
.input-wrapper{
    margin: 0 10px;
    border-radius: 20px;
}